table.standard {
  border-collapse: collapse;
  font-size: 10pt;
}

.standard th {
  background: #058d95;
  border: 1px solid #058d95;
  padding: 0 2px 0 2px;
}

.standard td {
  text-align: left;
  background: #334 !important;
  color: #bbc !important;
  border: 1px solid #058d95;
  padding: 0 2px 0 2px;
}

/* General */
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #222;
  color: #bbc;
  margin-left: 5px;
  margin-right: 5px;
}

input, select {
  background-color: #222;
  color: #bbc;
}

h1, h2, h3, h4, h5, h6 {
  color: #bbc;
}

/* Input */
input:focus { background: #222; }
input:hover { background: #333; }

/* Links */
a:link, a:visited { color: #6883c0; }

a:hover, a:active {
  color: #ccc;
  background: #336;
}
